/*fonts start*/
@font-face {
     font-family: 'futuraBt';
     src: url('../fonts/futural-webfont.eot');
     src: url('../fonts/futural-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/futural-webfont.woff2') format('woff2'), url('../fonts/futural-webfont.woff') format('woff'), url('../fonts/futural-webfont.ttf') format('truetype'), url('../fonts/futural-webfont.svg#Lato-Regular') format('svg');
}
@font-face {
  font-family: 'futuraBt-medium';
  src: url('../fonts/FuturaBT-Medium.eot');
  src: url('../fonts/FuturaBT-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaBT-Medium.woff2') format('woff2'), url('../fonts/FuturaBT-Medium.woff') format('woff'), url('../fonts/FuturaBT-Medium.ttf') format('truetype'), url('../fonts/FuturaBT-Medium.svg#Lato-Regular') format('svg');
}
@font-face {
  font-family: 'futuraBt-light';
  src: url('../fonts/FuturaBT-Light.eot');
  src: url('../fonts/FuturaBT-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaBT-Light.woff2') format('woff2'), url('../fonts/FuturaBT-Light.woff') format('woff'), url('../fonts/FuturaBT-Light.ttf') format('truetype'), url('../fonts/FuturaBT-Light.svg#Lato-Regular') format('svg');
}

/*fonts end*/
/* ============================== 2. Global styles ============================== */
body,html {
  font-family: 'futuraBt', sans-serif;
  color: #353535;
     font-size: 62.5%;
  background: #fff;
}
h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5 {
  font-family: 'futuraBt', sans-serif;
  font-weight: normal;
}
ul, li {
  list-style-type: none;
  display: inline-block 
}
p, span {
  color: #353535;
  font-size: 15px;
  font-weight: 300;
}
:root {
--pri-color: #c21155;
--text-color:#353535;
--text-white:#ffffff;
--font-normal: 'futuraBt', sans-serif;
--font-medium:'futuraBt-medium', sans-serif;
--font-ligth:'futuraBt-ligth', sans-serif;
--grey-bg:#f1f1f1;
}
a {
  text-decoration: none;
  display: inline-block;
  outline: none;
}
a:hover, a:focus, a:visited {
  text-decoration: none;
  outline: none;
}
img {
  max-width: 100%;
  display: inline-block;
}
button {
  border: none;
  outline: none;
  box-shadow: none;
  display: block;
  padding: 0;
  background: transparent;
}
input, textarea {
  font-family: 'Hind', sans-serif;
  display: block;
  font-size: 16px;
  line-height: 28px;
  outline: none;
  box-shadow: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btns {
  display: inline-block;
 padding: 2px 10px;
  background: #ffffff;
  color:var(--pri-color);
  font-size: 15px;
}
.btns:hover{

}

/*Header styling*/
header {
  padding: 30px 0;
}
header h1{
  display: inline-block;
  font-size: 1.6rem;
    color: var(--pri-color);
    text-transform: uppercase;
    font-family: 'futuraBt-medium';
    padding: 1rem 0;
}
header a{
  color: var(--pri-color);
}
.axislogo {
  display: inline-block;
}
.logo a {
  font-size: 32px;
  text-transform: uppercase;
}
.banner-wrapper{
  position: relative;
}
.banner{
  position: relative;
  width: 70%;
  float: left;
}
.videoLink{
  width: 30%;
  float: right;
  position: absolute;
  height: 100%;
  right: 0;
  top:0;
  text-align: center;
  background: var(--pri-color);
}
/*banner*/
.banner {
  position: relative;
  text-align: right;
  background: #13b1bc;
}
.banner img{
 float: right;
}
.videoList{padding: 20% 0;width: 60%;margin: 0 auto;display: inline-block;}
.videoList li{
  display: block;
}
.videoList i{
  
}
.videoList a{
  display: block;
  padding: 15px 25% 15px 0;
  border-bottom: 1px solid #a71a50;
  position: relative;
}
.videoList a:after{
    content: "";
    position: absolute;
    background: #fff0 url(../images/videoIcon.png) no-repeat;
    width: 25px;
    height: 25px;
    top: 24px;
    right: 18%;
}
.videoList a span,.videoList a strong{
  color:#fff;
  font-size:2.4rem;
}
.videoList a strong{
  opacity:0.4;
  padding-right:1rem
}
.head-title{text-align: center;}
.head-title h2{
    font-size: 2.6rem;
    background: #fff;
    padding: 2rem 5rem;
    display: inline-block;
    margin-top: -4rem;
    position: relative;
}
.head-title.trans h2{
  background: transparent;  
}
.head-title h2:after{content:"";position: absolute;top: 80%;left: 15%;height: 3px;width: 70%;background: var(--pri-color);}
.tab-wrapper{padding: 2rem 0 4rem 0;}
.tabs{display: block;text-align: center;}
.tabs li{
  font-size: 1.8rem;
  font-family: var(--font-light);
  padding: 1rem 2rem;
  border: 3px solid var(--grey-bg);
  min-width: 220px;
  margin: 0 2.5rem;
  background: #fff;
  position: relative;
  cursor: pointer;  
  transition:all 0.3s ease;
}
.tabs li:hover,.tabs li.active{
  background: var(--grey-bg);
  color: var(--pri-color);
}
.tabs li:before{
  content:'';
  position: absolute;
  width: 50%;
  height: 1px;
  left: 100%;
  background: var(--grey-bg);
  top: 50%;
}
.tabs li:last-child:before{
  display:none;
}
.tab-content{
padding: 3rem 5rem;

}
.tab-content .content{
  display: none;
}
.tab-content .content.active{
  display: block;
}

.content-text li{
padding-bottom:2rem;
width:  80%;
position:relative;    
}
.content-text li:after{
  content:  '';

}
.link-btn{
      font-size: 1.5rem;
    font-family: var(--font-light);
    padding: 0.6rem 2rem;
    border: 3px solid var(--grey-bg);
    background: #fff;
    position: relative;
    cursor: pointer;
    color: var(--pri-color);

}
.fraud-wrapper{
  background: var(--grey-bg);
}
.frauds-carousel{padding: 2rem 10rem 10rem 0;}
.frauds-carousel li h5{
  font-size:1.8rem; 
  font-weight:bold;
  padding-bottom:2rem 
}
.frauds-carousel li p{
  min-height: 110px;
  padding-right: 3rem;
  overflow: hidden;
}
.owl-nav{
    position: absolute;
    bottom: 35px;
    right: 0;
    display: inline-block;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
      width: 25px;
    height: 25px;
    background: #fff;
    display: inline-block;
    margin-left: 1rem;
}
.owl-carousel .owl-nav button.owl-prev img{
  transform: rotate(180deg);
}


/* mega menu*/
 .humburger{
        width: 35px;
        height: 25px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        display: inline-block;
        margin-top: 2rem;
        z-index: 5;
    }
 .humburger span{
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #ffffff;
    border-radius: 0;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.humburger span:nth-child(1) {
  top: 0px;
}

.humburger span:nth-child(2) {
  top: 8px;
}

.humburger span:nth-child(3) {
  top: 16px;
}
.humburger.open span:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  .humburger.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
    display: none;
  }
  
  .humburger.open span:nth-child(3) {
    top: 10px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  .mega-menu-wrapper{
        position: absolute;
    width: 100%;
    margin: 0 auto;
    height: 100%;
  }
 .megaMenu{
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: #353535;
      display:none;
 }
 .menu-wrap{
  padding: 4rem 5rem;
 }
 .menu-list{width: 22%;float: left;margin-right: 2%;}
  .menu-list h4{
  color: #fff;
  font-size: 1.6rem;
  font-family: var(----font-medium);
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-bottom: 2px solid #ccc;
 }
 .menu-list ul{
   width: 100%;
   padding: 2rem 1rem;
       min-height: 164px;
 }
  .menu-list li{
  display: block;
  padding-left: 2rem;
  position: relative;
 }
 .menu-list li:after{
   content:"";
   position: absolute;
   left: 3px;
   top: 13px;
   height: 5px;
   background: url('../images/right-arrow.png') no-repeat;
   width: 20px;
 }
 .menu-list li a{
   font-size:1.5rem;
   display:block;
   color:#ccc;
   padding:0.5rem 0;
 }